@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Roboto+Mono:wght@300;600&display=swap');

body {   
    font-size: 20px;
    font-weight: normal;
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: #242424;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/*.container{
    max-width: 750px;
    margin: auto;
    padding: 20px;
    background-color: #242424;
    color: white;
}*/

.info {
    max-width: 750px;
    min-height: 100vh;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.hob {
    max-width: 750px;
    min-height: 100vh;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.tabli {
    max-width: 750px;
    min-height: 100vh;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.fullscreen1 {
    min-height: 80vh;
    background:url("https://i.postimg.cc/fyYM6SYT/full.png") center / cover no-repeat fixed;
}
.fullscreen2 {
    min-height: 80vh;
    background:url("https://i.postimg.cc/fyYM6SYT/full.png") center / cover no-repeat fixed;
}

.avatar{
    padding-bottom: 0px;
}
.info .avatar img{
    animation: fly 3s ease-in-out infinite;
}
@keyframes fly {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(12px);
    }
}

.info .avatar .pic {
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.info .info-text {
    text-align: center;
    
}

.info .info-text .info-text-second {
    font-style: italic;
    font-size: smaller;
}

.card {
    margin-bottom: 30px ;
}

.hobbies{
    padding-left: 5%;
    border-radius: 20px;
    background-color: #2e2e2ed7;
    padding-top: 3%;
    padding-bottom: 3%;
}
.hobbies .list {
    padding-left: 2%;
}

.table {
    width: 100%;
    border-radius: 20px;
    background-color: #2e2e2ed7;
    padding-top: 3%;
    padding-bottom: 3%;
}

.table td {
    padding-bottom: 10px;
}
 
.table td:nth-child(1){
    padding-left: 4.5%;
}
.table td:nth-child(2), .table td:nth-child(3) {
    text-align: center;
    color: #86898f;
}
